@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
	box-sizing: border-box;	
}
body
{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}


.container
{
	width: 100%;
	margin: auto;
}
.container--flex
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.column
{
	width: 100%;
}
/* Estilos de Header*/
header
{
	width: 100%;
	background-color: #f4511e;
}
header h1
{
	font-size: 1.8em;
	color: #fff;
	padding: 5px;
	font-family: 'Montserrat', sans-serif;
	font-wight: 100;
	text-align: center;
}
/*Estilos del menu*/
nav{
	margin-bottom: 0;
	background-color: #f4511e;
	z-index: 9999;
	border: 0;
	font-size: 12px;
	line-height: 1.42857143;
	letter-spacing: 4px;
	border-radius: 0;
}
.icon-menu {
	display: block;
	color: black;
}
ul
{
	position: absolute;
	top:60px;
	left:0;
	width:100%;
	overflow: hidden;
  	background-color: #f4511e;
  	margin: 0;
  	padding: 0;
  	list-style: none;
  	text-align: center;
  	
}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  padding: 15px;
  text-decoration: none;
}

li a:hover {
  background-color: #fff;
  color: #f4511e;
  text-decoration:none;
}
.login
{
	float: right;
}
/*-- Slider ---*/
#slider
{
	margin-top: 60px ;
	width: 100%;
}
#slider .item
{
	height: 280px;
	background: center no-repeat;
	
	
}
.group--color .container
{
	background:#f4511e;
	color:white;
	padding:10px;
	text-align:center;
	margin-top: 30px;
	margin-bottom: 30px;
}
.main-titulo
{
	margin: 15px 0;
	font-size: 1.8em;
	font-family: 'Pacifico', cursive;
	font-weight: 100;
	
}

  .col-lg-4 {
    text-align: center;
    margin: 25px 0;
   
  }
  .col-lg-4 h2
  {
  	font-size: 1.8em;
	font-family: 'Pacifico', cursive;
  }
  .col-lg-4 h4
  {
  	font-family: 'Lobster', cursive;
  }
